<div class="count-select">
  <label for="count">Number of pokemons</label>
  <select #t (change)="countChange(t.value)" id="count">
    <option selected>100</option>
    <option>200</option>
    <option>300</option>
    <option>400</option>
    <option>800</option>
    <option>949</option>
  </select>
</div>
<div [ngClass]="{'body_wrapper-lines': this.getStyle() === 'lines'}"
     class="body_wrapper"
>
  <app-pokemon-item
    (action)="onAction($event)"
    *ngFor="let pokemon of pokemons"
    [pokemon]="pokemon"
    [style]=this.getStyle()
  ></app-pokemon-item>
</div>
